@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  /*font-weight*/
  --font_light: 300;
  $font_regular: 400;
  $font_medium: 500;
  $font_semibold: 600;
  $font_bold: 700;

  //colors
  $primary_color: #2a1570;
  $secondary_color: #42b5f4;
  $clr_grey_light: #655f5f;
  $clr_grey_dark: #676464;
  $clr_black: #000;
  $clr_white: #fff;
}
