main{
    width: 100%;
    padding: 0 3rem;
    background-color: #E9EEF7;
   
.about-us{
  
    // margin: 8rem 0;
    padding:8rem 5rem;
    @include css-flexbox(space-between,center);
 gap: 2rem;
    
    .about-description{
        width: 50%;
        h3{
            text-transform: uppercase;
            font-size: 2.4rem;
            color: $secondary_color;
            font-weight: $font_semibold;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.8rem;
            text-align: justify;
    
        }
    }

    .about-img{
        height: 300px;
        width: 450px;

        img{
            @include image;
        }
    }
}
}

//media query
@media only screen and (max-width: 850px) {
    main{
        padding: 0;
        .about-us{
            @include grid('1fr',' ');

            .about-description{
                width: 100%;
            }

            .about-img{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:650px){
    main{
        .about-us{
        padding: 4rem;
    .about-description{
        width: 100%;

        h3{
            font-size: 1.6rem;
        }
        p{
            font-size: 1.4rem
        };
    }
}
    }
}